@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">User Managment</h4>
                    <p class="card-category">Manage Metadata As Admin</p>
                </div>
                <div class="card-body">

                    <div class="row">

                        <!---Address Management--->
                        <div class="col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-warning card-header-icon">
                                    <button class="card-icon" id="Address_Managment"><i class="material-icons">business</i> </button>
                                    <p class="card-category">Address Managment</p>
                                    <h3 class="card-title">Address with Types <small></small></h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-warning">info</i>
                                        <a href="#" class="warning-link">Manage Addresses with codes</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---Address Management End--->
                        <!---Contact Management--->
                        <div class="col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-warning card-header-icon">
                                    <button class="card-icon" id="Contact_Managment"><i class="material-icons">call</i> </button>
                                    <p class="card-category">Contact Managment</p>
                                    <h3 class="card-title">Contact with Types <small></small></h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-warning">info</i>
                                        <a href="#" class="warning-link">Manage Contact with codes</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---Contact Management End--->


                    </div>
                    <div class="row">

                        <!---Roles Management--->
                        <div class="col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-warning card-header-icon">
                                    <button class="card-icon" id="Role_Managment"><i class="material-icons">person_add</i> </button>
                                    <p class="card-category">Role Managment</p>
                                    <h3 class="card-title">Roles with Types <small></small></h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-warning">info</i>
                                        <a href="#" class="warning-link">Manage Roles with codes</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---Roles Management End--->
                        <!---Register Management--->
                        <div class="col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-warning card-header-icon">
                                    <button class="card-icon" id="Status_Managment"><i class="material-icons">confirmation_number</i> </button>
                                    <p class="card-category">Status Managment</p>
                                    <h3 class="card-title">Status with Types <small></small></h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-warning">info</i>
                                        <a href="#" class="warning-link">Manage Status with codes</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---Register Management End--->


                    </div>


                    <div class="row">

                        <!---File Management--->
                        <div class="col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-warning card-header-icon">
                                    <button class="card-icon" id="File_Managment"><i class="material-icons">push_pin</i> </button>
                                    <p class="card-category">File Managment</p>
                                    <h3 class="card-title">File with Types <small></small></h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-warning">info</i>
                                        <a href="#" class="warning-link">Manage File with codes</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---File Management End--->
                        <!---Reg_Mode_Type Management--->
                        <div class="col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-warning card-header-icon">
                                    <button class="card-icon" id="Register_Managment"><i class="material-icons">account_circle</i> </button>
                                    <p class="card-category">Register Managment</p>
                                    <h3 class="card-title">Register with Types <small></small></h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-warning">info</i>
                                        <a href="#" class="warning-link">Manage Registeration with codes</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---Reg_Mode_Type Management End--->


                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/Javascript/Usermanagment.js"></script>
}
